{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body bgcolor="#ffefd5">
{% include "heading.html" %}
<font color="green">
    <table>
        <tr><td width="200"><h3>Contact Details:</h3></td></tr>
         <tr><td width="300">   <h4>Send us E-mail:<a href="//" >swamyk@eth.net</a></h4></td>
            <td><h4 align="center">The Secret Intelligence Agency has always used
                undercover agents to solve complex cases and dismantle criminal organizations.
                We are conceptualizing this software as a solution so that Secret Intelligence
                Agencies and their agents can communicate through this Software for the exchange
                of evidences in a secure way.</h4></td>
        </tr>
    </table>
</font>
</body>
</html>