{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body bgcolor="#ffe4c4">
<font color="blue">
<table>
    <tr>
        <th width="200"><img src="{% static  'images/cbi_logo.png'%} "  width="100" height="100"></th>
        <th width="1000"><h1 align="center">WELCOME TO CYBERNATICS PROTECTOR</h1></th>
    </tr>`
</table>
<table align="center">
    <tr>
        <td width="50"><a href="/home/">Home</a></td>
        <td width="150"><a href="/about/">About us& contact us</a></td>
        <td width="50"><a href="/adminlogin/">Admin</a></td>
        <td width="50"><a href="/agent_login/">Agent</a></td>
        <td width="150"><a href="/ministry/">Ministry of def</a></td>

    </tr>
</table>
</font>
</body>
</html>
