{% load staticfiles %}
<!DOCTYPE html>

<html lang="en">

<body bgcolor="#ffefd5">
{% include "heading.html" %}
<font color="green">
<table>
        <tr>
            <td width="200">{% include "homeindex.html" %}</td>

            <td><h4>The Secret Intelligence Agency has always used
                    undercover agents to solve complex cases and
                     dismantle criminal organizations.
                     We are conceptualizing this software as a solution so that Secret Intelligence
                     Agencies and their agents can communicate through this Software
                        for the exchange of evidences in a secure way.
                </h4></td>
        </tr>
</table>
</font>



</body>
</html>
</body>
</html>