{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body bgcolor="#ffefd5">

{% include "heading.html" %}
<font color="green">
<table><tr><th>{% include "sideindex_ageent.html" %}</th>

<th width="1000"><table align="center" border="1">
    <tr>
        <th>agent id</th>
        <th>case id</th>
        <th> case name</th>
        <th>evidence</th>
        <th>status</th>
    </tr>
    {% for x in data %}
        <tr>
        <th>{{ x.agent_id }}</th>
        <th>{{ x.case_id }}</th>
        <th>{{ x.case_name }}</th>
        <th>{{ x.evidence }}</th>
        <th>{{ x.status }}</th>
        </tr>
    {% endfor %}
</table></th>

</tr>
</table>
</font>
</body>
</html>