{% load staticfiles %}
<!DOCTYPE html>

<html lang="en">

<body bgcolor="#ffefd5">
{% include "heading.html" %}
<font color="green">
<table>
        <tr>
            <td width="200">{% include "homeindex.html" %}</td>
            <td width="1000">
    <p>
        While peer-to-peer networks are mainly used to locate unique resources across the Internet, new interesting deployment
        scenarios are emerging. Particularly, some applications (e.g., VoIP) are proposing the creation of overlays for the
        localization of services based on equivalent servants (e.g., voice relays).This paper explores the possible overlay
        architectures that can badopted to provide such services, showing how an unstructured solution based on a scale-free
        overlay topology is an effective option to deploy in this context. Consequently, we propose EQUATOR
        (Equivalent servant locator), an unstructured overlay implementing the above mentioned operating principles, based on
        an overlay construction algorithm that well approximates an ideal scale-free construction model.
    </p>
    </td>
        </tr>
</table>
</font>
</body>
</html>