{% load staticfiles %}
<!DOCTYPE html>

<html lang="en">

<body bgcolor="#ffefd5">
{% include "heading.html" %}
<font color="green">
<table>
        <tr>
            <td width="200">{% include "homeindex.html" %}</td>
            <td width="1000">
    <p>
        Monitoring personal locations with a potentially untrusted server poses privacy threats to the monitored individuals.
        To this end, we propose a privacy-preserving location monitoring system for wireless sensor networks. In our system,
        we design two innetwork location anonymization algorithms, namely, resource- and quality-aware algorithms,
        that aim to enable the system to provide high quality location monitoring services for system users,
        while preserving personal location privacy. Both algorithms rely on the well established k-anonymity privacy concept,
        that is, a person is indistinguishable among k persons, to enable trusted sensor nodes to provide the aggregate location
        information of monitored persons for our system. Each aggregate location is in a form of a monitored area A along with
        the number of monitored persons residing in A, where A contains at least k persons. The resource-aware algorithm aims
        to minimize communication and computational cost, while the quality-aware algorithm aims to maximize the accuracy of the
        aggregate locations by minimizing their monitored areas. To utilize the aggregate location information to provide
        location monitoring services, we use a spatial histogram approach that estimates the distribution of the monitored
        persons based on the gathered aggregate location information. Then the estimated distribution is used to provide
        location monitoring services through answering range queries.
    </p>
    </td>
        </tr>
</table>
</font>
</body>
</html>