<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body bgcolor="#ffefd5">
{% include "heading.html" %}
<table align="center">
<tr><th>{% include "sideindex.html" %}</th>
<th>
    <table align="center" border="1">
      <tr>
      <th>Id</th>
      <th>Agent name</th>
      <th>DOB</th>
      <th>CNO</th>
      <th>Qualification</th>
      <th>Address</th>
      <th>Update</th>
</tr>

{% for x in data %}
  <tr><td><input type="number" value="{{ x.id }}" name="id" readonly></td>
    <th><input type="text" value="{{ x.Agent_Name }}" name="name" readonly></th>
    <th><input type="text" value="{{ x.Dob }}" name="dateofbirth" required></th>
    <th><input type="number" value="{{ x.Contact_Number }}" name="cno" required></th>
    <th><input type="text" value="{{ x.Qualification }}" name="quali" required></th>
    <th><input type="text" value="{{ x.Address }}" name="adress" required></th>
    <td>
            <a href="/update{{ x.id }}/">Update</a>

        </td>
    </tr>
{% endfor %}


</table>
</table>

</body>
</html>